In [1]:
#step1 - load data
import pandas as pd
dataset = pd.read_csv("iphone_purchase.csv")
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,3].values

In [2]:
dataset

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [3]:
#step2 - Convert Gender to Number
from sklearn.preprocessing import LabelEncoder
labelEncoder_gender = LabelEncoder() 
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

In [4]:
#step3 - Split Data into Training and Testing
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [5]:
#step4 - Feature Scalling
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
#step5 - Logistic Regression Classifier
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state=0, solver="liblinear")
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
#step6 - Predict
y_pred = classifier.predict(X_test)

In [9]:
#step7 - Confusion Matrix
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred)
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy score:", accuracy)
precision = metrics.precision_score(y_test, y_pred)
print("Precision score:", precision)
recall = metrics.recall_score(y_test, y_pred)
print("Recall score:", recall)

[[65  3]
 [ 6 26]]
Accuracy score: 0.91
Precision score: 0.896551724137931
Recall score: 0.8125

In [10]:
#step8 - Make New Predictions
x1 = sc.transform([[1,21,40000]])
x2 = sc.transform([[1,21,80000]])
x3 = sc.transform([[0,21,40000]])
x4 = sc.transform([[0,21,80000]])
x5 = sc.transform([[1,41,40000]])
x6 = sc.transform([[1,41,80000]])
x7 = sc.transform([[0,41,40000]])
x8 = sc.transform([[0,41,80000]])

In [11]:
#Prediction results
print("Male aged 21 making $40k will buy iPhone:", classifier.predict(x1))
print("FeMale aged 21 making $80k will buy iPhone:", classifier.predict(x2))
print("Male aged 21 making $40k will buy iPhone:", classifier.predict(x3))
print("FeMale aged 21 making $80k will buy iPhone:", classifier.predict(x4))
print("Male aged 41 making $40k will buy iPhone:", classifier.predict(x5))
print("FeMale aged 41 making $80k will buy iPhone:", classifier.predict(x6))
print("Male aged 41 making $40k will buy iPhone:", classifier.predict(x7))
print("FeMale aged 41 making $80k will buy iPhone:", classifier.predict(x8))

Male aged 21 making $40k will buy iPhone: [0]
FeMale aged 21 making $80k will buy iPhone: [0]
Male aged 21 making $40k will buy iPhone: [0]
FeMale aged 21 making $80k will buy iPhone: [0]
Male aged 41 making $40k will buy iPhone: [0]
FeMale aged 41 making $80k will buy iPhone: [1]
Male aged 41 making $40k will buy iPhone: [0]
FeMale aged 41 making $80k will buy iPhone: [0]